fastapi
uvicorn
pydantic
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
bcrypt==4.0.1
python-dotenv
redis
qdrant-client
mistralai==1.5.0
langchain
langchain-mistralai
langgraph
smolagents
ddgs
great-expectations
langchain-text-splitters
prometheus-fastapi-instrumentator
langfuse
httpx
requests